body {
    background-color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
}

.text{
    font-family: 'Poppins';
}

/* header for logo & main page navigation */

#top-header-container {
    display: flex;
    height: 6vh;
    background-color: #EFCE33;
}

.top-header-small-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-header-small-container:hover .home{
    color:#E61E26;
}

.top-header-small-container:hover .mascot{
    border:solid 2px #E61E26;
}

.home {
    margin: 0;
    margin-left: 3vh;
    color: #fff;
    line-height: 6vh;
    font-size: 3vh;
}

.mascot-container{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.mascot {
    background-color: #fff;
    border-radius: 100%;
    padding: 15%;
    border: solid 2px #EFCE33;
}

.mascot-image {
    height: 6vh;
}

/* Student page boxes */

#general-body-container {
    display: flex;
    justify-content: center;
}

#boxes-container {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.box-text {
    margin: 0%;
    font-size: medium;
    padding: 8px;
}

.box {
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.box-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.big-box {
    height: 45%;
    border: solid 3px;
}

.box-1-4 {
    color:#fff;
    background-color: #E61E26;
    border-color:#E61E26;
}

.box-2-3 {
    color: #004A98;
    border-color: #004A98;
}

.box-2-3-text {
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
}

.box-sub-container {
    height: 90%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
}

.box-sub-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
}

.small-box {
    height: 40%;
    width: 90%;
    color: #fff;
    background-color: #E61E26;
}

.small-box:hover {
    background-color: #a7a097;
}

.box-3-sub-box {
    height: 80%;
    width: 90%;
    color: #fff;
    background-color: #E61E26;
}

.box-3-sub-box:hover {
    background-color: #a7a097;
}

.box-1-sub-text {
    font-size: smaller;
}


