body {
    background-color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
}

.text{
    font-family: 'Poppins';
}

/* header for logo & main page navigation */

#top-header-container {
    display: flex;
    height: 6vh;
    background-color: #EFCE33;
}

.top-header-small-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-header-small-container:hover .home{
    color:#E61E26;
}

.top-header-small-container:hover .mascot{
    border:solid 2px #E61E26;
}

.home {
    margin: 0;
    margin-left: 3vh;
    color: #fff;
    line-height: 6vh;
    font-size: 3vh;
}

.mascot-container{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.mascot {
    background-color: #fff;
    border-radius: 100%;
    padding: 15%;
    border: solid 2px #EFCE33;
}

.mascot-image {
    height: 6vh;
}

/* Student page boxes */

#general-body-container {
    display: flex;
    justify-content: center;
}

#boxes-container {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box-text {
    margin: 0%;
}

.box-quarter {
    height: 90vh;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    flex-direction: column;
    justify-content: flex-end;
}

.box {
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.box-text {
    font-size: medium;
    padding: 8px;
}

#mascot-above-box {
    margin-left: 5.8%;
    display: flex;
    align-self: flex-end;
}

#outside-box-text {
    padding-left: 23%;
    position: absolute;
    font-size: medium;
    margin-bottom: 0%;
    margin-top: 5%;    
}

#box-1{
    height: 20%;
    background-color: #E2E2E2;
    color: #000;
}

#box-2{
    height: 45%;
    background-color: #FA0644;
    color: #fff;
}

#box-3 {
    height: 25%;
    background-color: #FA5300;
    color: #fff;
}

#box-4 {
    height: 37%;
    background-color: #EFCE33;
    color: #fff;
}

#box-5 {
    height: 16%;
    background-color: #FA0644;
    color: #fff;
}

#box-6 {
    height: 37%;
    background-color: #E2E2E2;
    color: #000;
}

#box-7 {
    height: 16%;
    background-color: #E2E2E2;
    color: #000;
}

#box-8 {
    height: 16%;
    background-color: #FA5300;
    color: #fff;
}

#box-9 {
    height: 58%;
    background-color: #EFCE33;
    color: #fff;
}

#box-10 {
    height: 31%;
    background-color: #3275C4;
    color: #fff;
}

#box-11 {
    height: 61%;
    background-color: #004A98;
    color: #fff;
}

#box-1:hover{
    background-color: #a7a097;
}

#box-2:hover{
    background-color: #a7a097;
}

#box-3:hover{
    background-color: #a7a097;
}

#box-4:hover{
    background-color: #a7a097;
}

#box-5:hover{
    background-color: #a7a097;
}

#box-6:hover{
    background-color: #a7a097;
}

#box-7:hover{
    background-color: #a7a097;
}

#box-8:hover{
    background-color: #a7a097;
}

#box-9:hover{
    background-color: #a7a097;
}

#box-10:hover{
    background-color: #a7a097;
    color:#000
}

#box-11:hover{
    background-color: #a7a097;
    color:#000
}
