body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.text{
    font-family: 'Poppins';
}

#top-header-container {
    height: 40px;
    background-color: #EFCE33;
}

#home {
    text-align: right;
    color: #000;
    margin-right: 5px;
}

#banner-image {
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

#over-photo-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#smaller-title-container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#sayre {
    font-size: 100px;
    margin-bottom: 0%;
}

#resource-hub {
    margin-top: 0%;
    font-size: 40px;
}

#header-and-question-container {
    width: 100%;
    margin-bottom: 10px;
}

#header-question {
    color: #fff;
    height: 30px;
    text-align: center;
}

#header-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 40px;
    line-height: 0px;
    align-items: center;
}

.header-text {
    color: #fff;
    text-decoration: none;
     font-family: 'Poppins';   /* can't find TT backwards*/
    height: 30px;
    line-height: 30px;
    width: 160px;
    border: solid 1px;
    border-color:#fff;
    font-size: 20px;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px;
    margin: 5px; */
    border-radius: 50px;
}

.header-text:hover {
    color: #EFCE33;
    border-color: #EFCE33;
    text-decoration: none;
}

#info {
    height: 50vh;
}

#funding-cal {
    border:solid 1px;
    border-color: #777777;
    width: 800;
    height: 600;
    /* frameborder: 0;
    /* scrolling: no; */ /*this was included in the google code but does not exist? */
}