body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.text{
    font-family: 'Poppins';
}

/* header for logo & main page navigation */

#top-header-container {
    display: flex;
    height: 40px;
    background-color: #EFCE33;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.top-header-small-container:hover .home{
    color:#E61E26;
}

.top-header-small-container:hover .mascot{
    border:solid 2px #E61E26;
}

.home {
    margin: 0;
    margin-left: 80px;
    color: #fff;
    line-height: 40px;
}

.mascot {
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    padding: 7px;
    border: solid 2px #EFCE33;
}

.mascot-image {
    height: 50px;
}

/*  */

#filter-container {
    display: flex;
    height: 100vh;
    line-height: 0px;
    background-color: #FA5300;
    align-items: flex-start;
    flex-direction: column;
    width: 230px;
    align-items: center;
    position: fixed
}

.filter-text {
    color: #fff;
    text-decoration: none;
     font-family: 'Poppins';   /* can't find TT backwards*/
    height: 30px;
    line-height: 30px;
    width: 200px;
    border: solid 2px;
    border-color:#fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.filter-text:hover {
    color: #EFCE33;
    border-color: #EFCE33;
    text-decoration: none;
}

.top-filter {
    margin-top: 70px;
}

#info {
    height: 50vh;
}
